.atividade {
    display: flex;
    padding: 10px;
    height: 100%;
}

.opcoes {
    height: 100%;
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
}

.exercicio {
    margin: 5px;
    padding: 5px;
    border: 1px solid;
    border-radius: 5px;
}

.conteudo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}